.breadcrum-main-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #312d2d;
  font-size: 16px;
  font-weight: 550;
  overflow: hidden;
  margin: 40px 130px;
  text-transform: capitalize;
}
.breadcrum-main-container img {
  width: 25px;
}
@media (max-width: 1280px) {
  .breadcrum-main-container {
    margin: 30px 50px;
    font-size: 14px;
  }
  .breadcrum-main-container img {
    width: 20px;
  }
}
@media (max-width: 1024px) {
  .breadcrum-main-container {
    margin: 30px 30px;
    font-size: 13px;
  }
}
@media (max-width: 800px) {
  .breadcrum-main-container {
    margin: 30px 10px;
    font-size: 12px;
  }
  .breadcrum-main-container img {
    width: 18px;
  }
}
@media (max-width: 500px) {
  .breadcrum-main-container {
    font-size: 10px;
  }
  .breadcrum-main-container img {
    width: 15px;
  }
}
